@charset "UTF-8";
/*****Appel des différentes pages scss du projet pour un bon fonctionnement de l'ensemble du site *****/
/* Réinitialisation des marges navigateurs */
* {
  margin: 0;
  padding: 0;
}

/** Fonts du site **/
/** Font-size **/
/** Charte des Couleurs pour l'ensemble du site **/
/**Couleurs principales**/
/**Autres Couleurs **/
/** Couleurs de CTA **/
/** Paramètres généraux **/
/** ENTÊTE **/
/** Accueil - Fonctionnement **/
/** Accueil - Cartes Restaurants **/
/** Partie haute de la card **/
/** Partie basse de la card **/
/** FOOTER **/
/** Vignettes pages restaurants**/
/** Ombres Portées **/
/****** Paramètres généraux en Mobile First ***********/
/** Mise en forme de diverses balises html **/
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-family: "Shrikhand", serif;
  font-size: 1.75rem;
  font-weight: 400;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

h4 {
  font-weight: 300;
}

a {
  text-decoration: none;
}

/** ENTÊTES page accueil et restos**/
.header {
  height: 3.938rem;
  /**** Media Queries ****/
}
.header .logo {
  width: 10.125rem;
  height: 2.75rem;
  margin-top: 0.8rem;
}
.header__accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}
.header__restos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.5rem;
  gap: 19%;
}
@media screen and (min-width: 768px) {
  .header__restos {
    gap: 41%;
  }
}
@media screen and (min-width: 768px) {
  .header .header {
    height: 6rem;
  }
  .header .logo {
    width: 12.5rem;
    height: 2.138rem;
    margin-top: 0;
  }
}

.footer {
  background-color: #353535;
}
.footer__width {
  padding-top: 7%;
  padding-left: 7%;
  padding-bottom: 5%;
  width: 90%;
}
.footer .shrinkhand {
  font-family: "Shrikhand", serif;
  font-size: 1.125rem;
}
.footer .color {
  color: #ffffff;
}
.footer .weight__one {
  font-weight: 500;
}
.footer .weight__two {
  font-weight: 400;
}
.footer .nav {
  display: flex;
  flex-direction: column;
  line-height: 1.7rem;
  margin-top: 1rem;
}
@media screen and (min-width: 768px) {
  .footer .nav {
    flex-direction: row;
    gap: 10px;
  }
}
.footer .icon {
  display: flex;
  gap: 0.7rem;
}

/** Boutons Explorer er Commander **/
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(to bottom, #ff79da, #9356dc 97%);
  color: #ffffff;
  margin: auto;
  height: 3.125rem;
  width: 60%;
  border-radius: 30px;
  cursor: pointer;
  /**** Media Queries ****/
}
.cta:hover, .cta:active {
  background: linear-gradient(to bottom, #ff93e1, #a16be0 97%);
  box-shadow: 0px 7px 7px 2px rgba(0, 0, 0, 0.2509803922);
}
@media screen and (min-width: 768px) {
  .cta {
    width: 15%;
  }
}

/** Section Restaurants **/
.cards {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1.5rem;
  /** style pour la balise <a> qui enveloppe la carte**/
}
@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    gap: 50px 100px;
  }
}
.cards .width {
  width: 100%;
  /** style pour la carte**/
}
@media screen and (min-width: 768px) {
  .cards .width {
    width: 35%;
  }
}
.cards .width .card {
  background: #ffffff;
  border-radius: 1rem;
  /** style pour l'étiquette **/
  /** style pour le texte**/
}
.cards .width .card .container__one {
  display: flex;
  justify-content: flex-end;
}
.cards .width .card__img {
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 160px;
  border-radius: 1rem 1rem 0 0;
}
.cards .width .card__label {
  display: flex;
  justify-content: center;
  align-items: center;
  /** Superposition de l'étiquette "Nouveau" par rapport à l'image **/
  position: absolute;
  z-index: 2;
  border-radius: 0.125rem;
  width: 5rem;
  height: 1.813rem;
  background: #99e2d0;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 4%;
  margin-right: 4%;
}
@media screen and (min-width: 768px) {
  .cards .width .card__label {
    margin-top: 1%;
    margin-right: 1%;
  }
}
.cards .width .card .container__two {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem;
}
.cards .width .card__txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.6rem;
  color: #000000;
  font-size: 1.063rem;
  font-weight: 300;
}
.cards .width .card__heart {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.6rem;
  color: #000000;
}

/** Bannière de Localisation **/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2509803922);
  position: absolute;
  z-index: 1;
  gap: 1.2rem;
  width: 100%;
  height: 3.125rem;
  background-color: #eaeaea;
}
.location .paris {
  color: #353535;
  font-weight: 500;
}

/** Présentation courte de la start up**/
.presentation {
  background-color: #F6F6F6;
  padding-top: 3.125rem;
  padding-bottom: 3.8rem;
  text-align: center;
}
.presentation__one {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 2.5rem 2.813rem 1rem;
}
.presentation__two {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  line-height: 1.313rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .presentation {
    padding-bottom: 2rem;
  }
  .presentation__one {
    font-size: 2.5rem;
    padding: 2.5rem 2.813rem 2.2rem;
  }
  .presentation__two {
    margin-bottom: 1.5rem;
  }
}

/** Section Fonctionnement **/
.fct__title {
  padding: 3.25rem 1.25rem 1.8rem;
}
@media screen and (min-width: 768px) {
  .fct__title {
    margin-left: 17.3%;
  }
}

.direction {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .direction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3rem;
  }
}
.direction .choice {
  display: flex;
  align-items: center;
}
.direction .choice__order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.25rem;
  background: #9356dc;
  color: #ffffff;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.6rem;
  margin-right: -0.7rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .direction .choice__order {
    width: 1.8rem;
    height: 1.5rem;
    border-radius: 0.7rem;
  }
}
.direction .choice .btn {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  background: #F6F6F6;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  width: 71%;
  padding: 1.7rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .direction .choice .btn {
    width: 100%;
  }
}
.direction .choice .btn i {
  color: #7e7e7e;
}
.direction .choice .btn:hover i, .direction .choice .btn:active i {
  color: #9356dc;
}

/** Paramètres section Restaurants**/
.bckg {
  background-color: #F6F6F6;
  padding: 52px 20px 72px 20px;
}
@media screen and (min-width: 768px) {
  .bckg {
    padding: 30px 120px 30px 140px;
  }
  .bckg .rst__title {
    margin-left: 11%;
  }
}

/** Taille Photo**/
.restos {
  object-fit: cover;
  object-position: center;
  width: 100%;
}

/** Fond global **/
.bckg__restos {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 1.9rem 1.9rem 0 0;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 0.6rem;
  margin-top: -3rem;
}

/** Marge bloc menu et cta **/
.marge {
  margin-bottom: 2.5rem;
}

/** Alignement titre et coeur **/
.align__title {
  display: flex;
  align-items: center;
  gap: 2.3rem;
  margin-bottom: 2.5rem;
}

/** soulignage du titre h4 **/
.underline {
  background-color: #99e2d0;
  height: 0.188rem;
  width: 2.5rem;
  margin-top: 0.3rem;
  margin-bottom: 0.9rem;
}

/** Vignettes plats **/
.vignette {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background: #ffffff;
  color: #000000;
  width: 90%;
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  line-height: 1.5rem;
}
.vignette:not(:last-child) {
  margin-bottom: 0.75rem;
}
.vignette__one {
  font-size: 1.125rem;
  font-weight: 500;
}
.vignette__two {
  font-size: 0.94rem;
  font-weight: 300;
}
.vignette__price {
  margin-top: 1.5rem;
  font-size: 0.94rem;
  font-weight: 700;
  color: #353535;
}/*# sourceMappingURL=main.css.map */