@charset "UTF-8";
/*****Appel des différentes pages scss du projet pour un bon fonctionnement de l'ensemble du site *****/
/* Réinitialisation des marges navigateurs */
* {
  margin: 0;
  padding: 0;
}

/** Fonts du site **/
/** Font-size **/
/** Charte des Couleurs pour l'ensemble du site **/
/**Couleurs principales**/
/**Autres Couleurs **/
/** Couleurs de CTA **/
/** Paramètres généraux **/
/** LOADER **/
/** ENTÊTE **/
/** Accueil - Fonctionnement **/
/** Accueil - Cartes Restaurants **/
/** Partie haute de la card **/
/** Partie basse de la card **/
/** alignement texte et coeur de la card**/
/** FOOTER **/
/** Mise en forme pages Restos **/
/** Vignettes pages restaurants**/
/** Pour couper le texte à l'aide de 3 petits points **/
/** Ombres Portées **/
/** Keyframes LOADER **/
@keyframes loader {
  100% {
    transform: scale(2);
  }
}
@keyframes visibilité {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/** Keyframes Blocs Menu **/
@keyframes menu {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/****** Paramètres généraux en Mobile First ***********/
/** Mise en forme de diverses balises html **/
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-family: "Shrikhand", serif;
  font-size: 1.75rem;
  font-weight: 400;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

h4 {
  font-weight: 300;
}

a {
  text-decoration: none;
}

/** Boutons Explorer er Commander **/
.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(to bottom, #ff79da, #9356dc 97%);
  color: #ffffff;
  margin: auto;
  height: 3.125rem;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.4, 0.1, 0.6, 0.9);
  /**** Media Queries ****/
}
.cta:hover, .cta:active {
  background: linear-gradient(to bottom, #ff93e1, #a16be0 97%);
  box-shadow: 0px 7px 7px 2px rgba(0, 0, 0, 0.2509803922);
}
.cta__one {
  width: 58%;
}
.cta__two {
  width: 52%;
}
@media screen and (min-width: 768px) {
  .cta__one {
    width: 16%;
  }
  .cta__two {
    width: 30%;
  }
}

/** Paramètres généraux des coeurs **/
.fa__base {
  position: absolute;
  font-size: 25px;
  color: transparent;
  background-clip: text;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.far {
  background-color: #000000;
}
.far:active {
  opacity: 0;
}
@media screen and (min-width: 768px) {
  .far:hover {
    opacity: 0;
  }
}

.fas {
  background-image: linear-gradient(to bottom, #9356dc, #ff79da);
  opacity: 0;
}
.fas:active {
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .fas:hover {
    opacity: 1;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
}

/** lorsque la checkbox est cochée, cela affiche l'icône coeur plein / les 2 sont donc reliés **/
input[type=checkbox]:checked ~ .fas {
  opacity: 1;
}

.container__two {
  display: flex;
  justify-content: space-between;
}

.carre {
  cursor: pointer;
  position: relative;
  /** Coeur pages accueil / cards **/
  /** Coeur pages restaurants **/
}
.carre__heart {
  margin-top: 20px;
  margin-right: 45px;
}
.carre__myheart {
  margin-top: 7px;
  margin-left: 20px;
}

/** Section Restaurants **/
.cards {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-top: 1.5rem;
  /** taille pour la balise <a> qui enveloppe la carte**/
}
@media screen and (min-width: 768px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    gap: 50px 100px;
  }
}
.cards .width {
  width: 100%;
  background: #ffffff;
  border-radius: 1rem;
  /** style pour la carte entièrement cliquable **/
}
@media screen and (min-width: 768px) {
  .cards .width {
    width: 35%;
  }
}
.cards .width .card {
  /** style pour l'étiquette **/
  /** style pour le texte**/
}
.cards .width .card .container__one {
  display: flex;
  justify-content: flex-end;
}
.cards .width .card__img {
  object-fit: cover;
  object-position: center;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 160px;
  border-radius: 1rem 1rem 0 0;
}
.cards .width .card__label {
  display: flex;
  justify-content: center;
  align-items: center;
  /** Superposition de l'étiquette "Nouveau" par rapport à l'image **/
  position: absolute;
  z-index: 2;
  border-radius: 0.125rem;
  width: 5rem;
  height: 1.813rem;
  background: #99e2d0;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 4%;
  margin-right: 4%;
}
@media screen and (min-width: 768px) {
  .cards .width .card__label {
    margin-top: 1%;
    margin-right: 1%;
  }
}
.cards .width .card__txt {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.6rem;
  color: #000000;
  font-size: 1.063rem;
  font-weight: 300;
  padding: 0.8rem;
  margin-right: 30px;
}

/** Alignement vertical des 2 blocs du loader **/
.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

/** Aspect global **/
.loader {
  background-color: #353535;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100000;
  animation: visibilité 3s ease forwards;
  /** Style du titre **/
  /** Style des 3 ronds **/
}
.loader__title {
  position: relative;
  font-family: "Shrikhand", serif;
  color: #ffffff;
  font-size: 2rem;
  margin-top: -100px;
  /** Media Queries **/
}
@media screen and (min-width: 768px) {
  .loader__title {
    font-size: 2.3rem;
    margin-top: -140px;
  }
}
.loader__element {
  position: absolute;
  border-radius: 100%;
  border: 30px solid;
  margin-left: -30px;
  margin-top: -40px;
  /** Rappel de la charte graphique du site **/
  /** Animation des 3 ronds **/
}
@media screen and (min-width: 768px) {
  .loader__element {
    margin-top: -50px;
    border: 40px solid;
    margin-left: -40px;
  }
}
.loader__element--1 {
  color: #9356dc;
}
.loader__element--2 {
  color: #ff79da;
}
.loader__element--3 {
  color: #99e2d0;
}
.loader__element:nth-child(1) {
  animation: loader 0.6s ease-in-out alternate infinite;
}
.loader__element:nth-child(2) {
  animation: loader 0.6s ease-in-out alternate 0.2s infinite;
}
.loader__element:nth-child(3) {
  animation: loader 0.6s ease-in-out alternate 0.4s infinite;
}

/** ENTÊTES page accueil et restos**/
.header {
  height: 3.938rem;
  /**** Media Queries ****/
}
.header .logo {
  width: 10.125rem;
  height: 2.75rem;
  margin-top: 0.8rem;
}
.header__accueil {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
}
.header__restos {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 24px;
  gap: 18%;
}
@media screen and (min-width: 768px) {
  .header__restos {
    gap: 41%;
  }
}
@media screen and (min-width: 768px) {
  .header .header {
    height: 6rem;
  }
  .header .logo {
    width: 12.5rem;
    height: 2.138rem;
    margin-top: 0;
  }
}

/** Bannière de Localisation **/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2509803922);
  position: absolute;
  z-index: 1;
  gap: 1.2rem;
  width: 100%;
  height: 3.125rem;
  background-color: #eaeaea;
}
.location i {
  color: #353535;
}
.location .paris {
  color: #353535;
  font-weight: 500;
}

/** Présentation courte de la start up**/
.presentation {
  background-color: #F6F6F6;
  padding-top: 3.125rem;
  padding-bottom: 3.8rem;
  text-align: center;
}
.presentation__one {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 2.5rem 2.813rem 1rem;
}
.presentation__two {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  line-height: 1.313rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .presentation {
    padding-bottom: 2rem;
  }
  .presentation__one {
    font-size: 2.5rem;
    padding: 2.5rem 2.813rem 2.2rem;
  }
  .presentation__two {
    margin-bottom: 1.5rem;
  }
}

/** Section Fonctionnement **/
.fct__title {
  padding: 3.25rem 1.25rem 1.8rem;
}
@media screen and (min-width: 768px) {
  .fct__title {
    margin-left: 17.3%;
  }
}

.direction {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .direction {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.3rem;
  }
}
.direction .choice {
  display: flex;
  align-items: center;
}
.direction .choice__order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.25rem;
  background: #9356dc;
  color: #ffffff;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.6rem;
  margin-right: -0.7rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .direction .choice__order {
    width: 1.8rem;
    height: 1.5rem;
    border-radius: 0.7rem;
  }
}
.direction .choice .btn {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  background: #F6F6F6;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  width: 71%;
  padding: 1.7rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .direction .choice .btn {
    width: 100%;
  }
}
.direction .choice .btn i {
  color: #7e7e7e;
  transition: color 0.2s cubic-bezier(0.4, 0.1, 0.6, 0.9);
}
.direction .choice .btn:hover i, .direction .choice .btn:active i {
  color: #9356dc;
}

/** Paramètres section Restaurants**/
.bckg {
  background-color: #F6F6F6;
  padding: 52px 20px 72px 20px;
}
@media screen and (min-width: 768px) {
  .bckg {
    padding: 30px 120px 30px 140px;
  }
  .bckg .rst__title {
    margin-left: 11%;
  }
}

.footer {
  background-color: #353535;
  /** Marge OhmyFood **/
  /** couleur icônes **/
  /** espace entre icônes et caractères **/
  /** Couleur générale des caractères **/
  /** Différentes graisses pour les 2 dernières rubriques **/
  /** Media Queries pour le sens et l'ordre des différents blocs **/
}
.footer__width {
  padding-top: 7%;
  padding-left: 7%;
  padding-bottom: 5%;
  width: 90%;
  line-height: 1.7rem;
  /** Media Queries pour le footer général **/
}
@media screen and (min-width: 768px) {
  .footer__width {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 5%;
    padding-left: 6%;
    padding-bottom: 2%;
  }
}
.footer__marge {
  margin-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__marge {
    margin-bottom: 0;
    margin-left: 100px;
  }
}
.footer__marge .shrinkhand {
  font-family: "Shrikhand", serif;
  font-size: 1.125rem;
}
.footer i {
  color: #ffffff;
}
.footer .icon {
  display: flex;
  gap: 0.7rem;
}
.footer .color {
  color: #ffffff;
}
.footer .weight__one {
  font-weight: 500;
}
.footer .weight__two {
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer .footer__two {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
  }
  .footer .order__one {
    order: 1;
    gap: 17px;
    margin-left: 50px;
  }
  .footer .order__two {
    order: 2;
    gap: 10px;
  }
}

/** Taille Photo**/
.restos {
  object-fit: cover;
  object-position: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .restos {
    height: 383px;
  }
}

/** Fond global **/
.bckg__restos {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 1rem;
  padding-right: 0.6rem;
  margin-top: -3rem;
  position: relative;
  background-color: #F6F6F6;
  border-radius: 30px 30px 0 0;
}
@media screen and (min-width: 768px) {
  .bckg__restos {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 2.5%;
    padding-left: 13%;
    padding-right: 11%;
  }
}

/** Alignement titre et coeur **/
.align__title {
  display: flex;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .align__title {
    margin: auto;
    margin-bottom: 30px;
  }
}

/** Marge "bloc menu" et cta **/
.marge {
  margin-bottom: 40px;
}

/** Soulignage du titre h4 **/
.underline {
  background-color: #99e2d0;
  height: 3.008px;
  width: 40px;
  margin-top: 4.8px;
  margin-bottom: 14.4px;
}

/** Animation bloc menu **/
.box {
  animation: menu 1.5s 100ms both;
}

.box__one {
  animation: menu 1.5s 150ms both;
}

.box__two {
  animation: menu 1.5s 300ms both;
}

.box__three {
  animation: menu 1.5s 450ms both;
}

/** Paramètres Vignettes plats **/
.vignette {
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  background: #ffffff;
  color: #000000;
  width: 100%;
  border-radius: 16px;
  line-height: 25px;
  cursor: pointer;
  /** On coupe le texte à l'aide de 3 petits points lorsque c'est nécessaire **/
  /** Paramètres du prix affiché **/
  /** Paramètres de languette verte **/
  /** Animation des languettes vertes avec coche qui apparaissent et qui disparaissent au clic ou au survol **/
}
.vignette:not(:last-child) {
  margin-bottom: 12px;
}
.vignette__points {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 280px;
  transition: all 0.3s ease-in-out;
  /** Media Queries **/
  /** Paramètres de chaque ligne **/
}
.vignette__points:active {
  width: 190px;
}
@media screen and (min-width: 768px) {
  .vignette__points:hover {
    width: 280px;
  }
}
.vignette__points--one {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.125rem;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 15px;
  letter-spacing: -0.4px;
}
.vignette__points--two {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.94rem;
  font-weight: 300;
  padding-left: 15px;
  padding-bottom: 10px;
  letter-spacing: -0.4px;
}
.vignette__price {
  font-size: 0.94rem;
  font-weight: 700;
  color: #353535;
  margin-top: 35px;
  margin-left: auto;
  transition: transform 0.3s ease-in-out;
}
.vignette .vignette__bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  width: 19%;
  margin-left: -50px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: all 0.3s ease-in-out;
  /** Paramètres de la coche **/
  /** couleur de l'icône de la languette **/
}
@media screen and (min-width: 768px) {
  .vignette .vignette__bar {
    width: 10%;
    margin-left: -35px;
  }
}
.vignette .vignette__bar__check {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}
.vignette .vignette__bar i {
  color: #99e2d0;
}
.vignette:active > .vignette__bar {
  transform: scaleX(1);
  opacity: 1;
}
.vignette:active > .vignette__price {
  transform: translateX(-65px);
}
@media screen and (min-width: 768px) {
  .vignette:hover > .vignette__bar {
    transform: scaleX(1);
    opacity: 1;
  }
  .vignette:hover > .vignette__price {
    transform: translateX(-50px);
  }
}/*# sourceMappingURL=main.css.map */