@charset "UTF-8";
/*****Appel des différentes pages scss du projet pour un bon fonctionnement de l'ensemble du site *****/
/* Réinitialisation des marges navigateurs */
* {
  margin: 0;
  padding: 0;
}

/** Fonts du site **/
/** Font-size **/
/** Charte des Couleurs pour l'ensemble du site **/
/**Couleurs principales**/
/**Autres Couleurs **/
/** Couleurs de CTA **/
/** Positionnements généraux**/
/** Accueil - Fonctionnement **/
/** Accueil - Restaurants **/
/** Ombres Portées **/
/****** Paramètres généraux en Mobile First ***********/
/** Mise en forme de diverses balises html **/
body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

/** Titre Page Accueil**/
h1 {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
}

h3 {
  font-size: 1.125;
  font-weight: 700;
}

/** Titre Page Restos**/
h2 {
  font-family: "Shrikhand", serif;
  font-size: 1.75rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #353535;
  font-size: 1rem;
  font-weight: 500;
}

/** LOGO **/
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
  z-index: 2;
  height: 3.938rem;
}
.header .logo {
  width: 10rem;
  height: 2.25rem;
  margin-top: 0.8rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(to bottom, #ff79da, #9356dc 97%);
  color: #ffffff;
  margin: auto;
  height: 3.125rem;
  width: 60%;
  border-radius: 30px;
  cursor: pointer;
}
.cta:hover, .cta:active {
  background: linear-gradient(to bottom, #ff93e1, #a16be0 97%);
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.2509803922);
}

.vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}
.vertical .width {
  width: 100%;
}
.vertical .width .card {
  background: #ffffff;
  border-radius: 1rem;
}
.vertical .width .card__img {
  position: relative;
  z-index: 1;
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 170px;
  border-radius: 1rem 1rem 0 0;
}
.vertical .width .card__label {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.125rem;
  width: 5rem;
  height: 1.813rem;
  background: #99e2d0;
  color: #008766;
  font-size: 0.875rem;
  font-weight: 500;
  position: absolute;
  z-index: 2;
  margin: 1rem 15rem;
}
.vertical .width .card__txt {
  display: flex;
  flex-direction: column;
  padding: 0.8rem;
  line-height: 1.6rem;
  color: #000000;
  font-size: 1.063rem;
  font-weight: 300;
}

/** Bannière de Localisation **/
.location {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  position: absolute;
  z-index: 1;
  gap: 1.2rem;
  width: 100%;
  height: 3.125rem;
  background-color: #eaeaea;
}

/** Présentation courte de la start up**/
.presentation {
  background-color: #F6F6F6;
  padding-top: 3.125rem;
  padding-bottom: 3.8rem;
  text-align: center;
}
.presentation__one {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  padding: 2.5rem 2.813rem 1rem;
}
.presentation__two {
  font-size: 1.125rem;
  font-weight: 300;
  color: #353535;
  line-height: 1.313rem;
  margin-bottom: 2rem;
}

/** Section Fonctionnement **/
.direction {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 4rem;
}
.direction .fct {
  padding: 3.25rem 1.25rem 0.5rem;
}
.direction .choice {
  display: flex;
  align-items: center;
}
.direction .choice__order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.25rem;
  background: #9356dc;
  color: #ffffff;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  margin-right: -0.7rem;
  z-index: 1;
}
.direction .choice .btn {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
  display: flex;
  align-items: baseline;
  gap: 1.5rem;
  background: #F6F6F6;
  color: #000000;
  width: 70%;
  padding: 1.8rem;
  border-radius: 1.5rem;
  cursor: pointer;
}
.direction .choice .btn i {
  color: #7e7e7e;
}
.direction .choice .btn:hover i, .direction .choice .btn:active i {
  color: #9356dc;
}

/** Paramètres section Restaurants**/
.bckg {
  background-color: #F6F6F6;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 3.25rem 1.25rem;
}/*# sourceMappingURL=main.css.map */