/** Alignement texte et coeur **/
.container__two {
    @include symbol;
}

/** Conteneur parent de référence pour le positionnement des coeurs, avec "position : relative;" **/ 
.position {
    cursor: pointer;
    position: relative;
    
            /** Postionnement des coeurs page accueil/cards **/
        &__heart {
            margin-top: 20px;
            margin-right: 45px;
        }   

        /** Coeur pages restaurants **/
        &__myheart {
            margin-top: 7px;
            margin-left: 20px;
        }    
}

/** Paramètres généraux des coeurs **/
.fa__base {
/** Positionnement spécifique des coeurs en fonction de leur conteneur parent ".carre" **/
    position: absolute;
    font-size: 23px;
    /** on rend l'icône et sa couleur d'origine invisibles **/
    color: transparent;
    /** le caractère/élément coeur n'est visible que dans la limite de la taille définie juste au-dessus **/
    background-clip: text;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

/** Coeur vide **/
.far {
    /** Ajout de la couleur voulue au caractère coeur après avoir rendu invisible le caractère d'origine dans la classe ".fa__base" **/ 
    background-color: $black-color;
    
    &:active,
    &:hover {
        /** devient complètement invisible au clic ou au survol... **/
        opacity: 0;
    }
}

/** coeur plein **/
.fas { 
    /** Ajout du dégradé voulu au caractère coeur après avoir rendu invisible le caractère d'origine dans la classe ".fa__base" **/ 
    background-image: linear-gradient(to bottom, $purple-color, $pink-color);
    /** d'abord invisible... **/
    opacity: 0;
    
    &:active {
        /** ...puis visible. **/
        opacity: 1;
    }

        @media screen and (min-width: 768px) {
            &:hover {
                opacity: 1;
            }
        }
    
}

/** CHECKBOX **/
.checkbox {
    /** positionnement de la checkbox au même endroit que les coeurs, en fonction du conteneur parent ".carre", mais celle-ci est invisible **/
            position: absolute;
            opacity: 0;
        }
/** lorsque la checkbox est cochée, cela affiche l'icône coeur plein / les 2 sont donc reliés **/
input[type="checkbox"]:checked ~ .fas {
opacity: 1;
}



  
        

        