1ère solution:

color: transparent;
background-clip: text;
background-image: linear-gradient(to bottom, #ff79da, #9356dc 97%);

2ème solution:

background: linear-gradient(to bottom, #ff79da, #9356dc 97%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;


Les 3 "..."

text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
width:;
