/** Boutons Explorer er Commander **/
.cta {
    @include flexcenter;
    @include strongshadow;
    background: $gradient;
    color: $white-color;
    margin: auto;
    height: 3.125rem;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.4,.1,.6,.9);
    
    &:hover,
    &:active {
        background: $light-gradient;
        @include extrashadow;
    }

    &__one {
        width: 58%;
    }
    &__two {
        width: 52%;
    }
    
    /**** Media Queries ****/
    @media screen and (min-width: 768px) {
        &__one {
            width: 16%;
        }
        &__two {
            width: 30%;
        }
    }
}

