/** Boutons Explorer er Commander **/
.cta {
    @include flexcenter;
    @include strongshadow;
    background: $gradient;
    color: $white-color;
    margin: auto;
    height: 3.125rem;
    width: 60%;
    border-radius: 30px;
    cursor: pointer;

    &:hover,
    &:active {
        background: $light-gradient;
        @include extrashadow;
    }
    
}

