/** Paramètres généraux des coeurs **/
.fa__base {
    position: absolute;
    font-size: 25px;
    color: transparent;
    background-clip: text;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
}

.far { 
    background-color: $black-color;
    
    &:active {
        opacity: 0;
    }
    @media screen and (min-width: 768px) {
        &:hover {
            opacity: 0;
        }
      }
}

.fas { 
    background-image: linear-gradient(to bottom, $purple-color, $pink-color);
    opacity: 0;
    

    &:active {
        opacity: 1;
    }
    @media screen and (min-width: 768px) {
        &:hover {
            opacity: 1;
        }
      }
}
.checkbox {
            position: absolute;
            opacity: 0;
        }
/** lorsque la checkbox est cochée, cela affiche l'icône coeur plein / les 2 sont donc reliés **/
input[type="checkbox"]:checked ~ .fas {
opacity: 1;
}

.container__two {
    @include align__heart;
}

.carre {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;

            /** Coeur pages accueil / cards **/
        &__heart {
            margin-top: 20px;
            margin-right: -15px;
        }   

        /** Coeur pages restaurants **/
        &__myheart {
            margin-top: 7px;
            margin-left: 25px;
        }    
}

  
        

        