/* HEART */

.heart__empty {
    margin-top: -20px;
}
.heart__full {
    position: relative;
    width: 50px;
    height: 40px;
    
 
  &:before,
  &:after {
    position: absolute;
    content: "";
    left: 14.5px;
    top: 7px;
    width: 15px;
    height: 20px;
    background: $gradient;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    margin-right: 15px;
    margin-bottom: 20px;
    opacity: 1;
    
  }
  &:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin: 50% 100%;
  }

  &:active::after,
  &:active::before {
    animation: heart 0.2s forwards;
  }
}