/****** Paramètres généraux en Mobile First ***********/

/** Mise en forme de diverses balises html **/
body {
  font-family: $text-font;
  font-size: $base;
}

h1 {
  font-family: $text-font;
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-family: $title-font;
  font-size: 1.75rem;
  font-weight: 400;
}

h3 {
  font-size: 1.125rem;
  font-weight: 700;
}

h4 {
  font-weight: 300;
}

a {
  text-decoration: none;
}


