/****** Paramètres généraux en Mobile First ***********/

/* Réinitialisation des marges navigateurs */
* {
  margin: 0;
  padding: 0;
}
/** Mise en forme de diverses balises html **/
body {
  font-family: $text-font;
  font-size: $base;
}

h1 {
  font-family: $title-font;
  font-size: 1.75rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: $darkgrey-color;
  font-size: $base;
  font-weight: 500;
}
