/** Bannière de Localisation **/
.location {
  @include flexcenter;
  @include strongshadow;
  position: absolute;
  z-index: 1;
  gap: 1.20rem;
  width: 100%;
  height: 3.125rem;
  background-color: $lightgrey-color;

  & .paris {
  color: $darkgrey-color;
  font-weight: 500;
}
}

/** Présentation courte de la start up**/
.presentation {
  background-color: $cleargrey-color;
  padding-top: 3.125rem;
  padding-bottom: 3.8rem;
  text-align: center;
  
  &__one {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
    padding: 2.5rem 2.813rem 1rem;
  }
  &__two {
    font-size: 1.125rem;
    font-weight: 300;
    color: $darkgrey-color;
    line-height: 1.313rem;
    margin-bottom: 2rem;
  }

  @media screen and (min-width: 768px) {
      padding-bottom: 2rem;

      &__one {
      font-size: 2.5rem;
      padding: 2.5rem 2.813rem 2.2rem;
      }

      &__two {
      margin-bottom: 1.5rem;
      }
    }
  
}

/** Section Fonctionnement **/
.fct__title {
  padding: 3.25rem 1.25rem 1.8rem;

  @media screen and (min-width: 768px) {
    margin-left: 17.3%;
  }  
}

.direction {
  @include vertical;
  
  .choice {
  @include align;
  
    &__order {
      @include flexcenter;
      margin-left: 1.25rem;
      background: $purple-color;
      color: $white-color;
      width: 1.3rem;
      height: 1.3rem;
      border-radius: 0.6rem;
      margin-right: -0.7rem;
      z-index: 1;
      
      @media screen and (min-width: 768px) {
        width: 1.8rem;
        height: 1.5rem;
        border-radius: 0.7rem;
      }
    }
    
    .btn {
      @include extendshadow;
      @include flex;
      gap: 1.5rem;
      background: $cleargrey-color;
      color: $black-color;
      font-size: $base;
      font-weight: 500;
      width: 71%;
      padding: 1.7rem;
      border-radius: 1.5rem;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        width: 100%;
      }
      
      i {
        color: $mediumgrey-color;
      }

      &:hover i,
      &:active i {
        color: $purple-color; 
      }
    }
  }
}


 /** Paramètres section Restaurants**/

.bckg {
  background-color: $cleargrey-color;
  padding: 52px 20px 72px 20px;
  

  @media screen and (min-width: 768px) {
    padding: 30px 120px 30px 140px;
    
    .rst__title {
      margin-left: 11%;
    }
  }
}

