/** Bannière de Localisation **/
.location {
  @include flexcenter;
  @include strongshadow;
  position: absolute;
  z-index: 1;
  gap: 19.2px;
  width: 100%;
  height: 50px;
  background-color: $lightgrey-color;

  i {
    color: $darkgrey-color;
  }

  & .paris {
  color: $darkgrey-color;
  font-weight: 500;
}
}

/** Présentation courte de la start up**/
.presentation {
  background-color: $cleargrey-color;
  padding-top: 50px;
  padding-bottom: 60.8px;
  text-align: center;
  
  &__one {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    padding: 40px 45px 16px;
  }
  &__two {
    font-size: 1.125rem;
    font-weight: 300;
    color: $darkgrey-color;
    line-height: 28px;
    margin-bottom: 32px;
  }

  /** Media Queries**/
  @media screen and (min-width: 768px) {
      padding-bottom: 32px;

      &__one {
      font-size: 2.5rem;
      padding: 40px 45px 35px;
      }

      &__two {
      margin-bottom: 24px;
      }
    }
  
}

/** Section Fonctionnement **/
.fct {
  padding: 48px 30px 68px 35px;

  /** Media Queries **/
  @media screen and (min-width: 768px) {
    padding: 50px 10.7% 50px 10.7%;
  }
  /** Titre **/
  &__title {
    padding-bottom: 26px;
  }
  /** Sens des boutons **/
  &__column {
    display: flex;
    flex-direction: column;
    gap: 25px;

    /** Media Queries **/
    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 40px;
    }
    
    /** Paramètres de chaque bouton **/
    .fct__btn {
      @include start;
      @include extendshadow;
      padding: 24px 0px 24px 30px;
      border-radius: 18px;
      font-weight: 500;
      font-size: $base;
      background-color: $cleargrey-color;

      /** Couleurs et animations des boutons **/
      & i {
        color: $mediumgrey-color;
        margin-right: 20px;
        transition: all 0.2s ease-in-out;
      } 

      &:active i {
        color: $purple-color;
      }

      /** Media Queries **/
      @media screen and (min-width: 768px) {
        padding: 24px 10px 24px 30px;
        width: 300px;

        &:hover i {
        color: $purple-color;
        }
      }

        /** Paramètres de chaque numéro **/
      .fct__number {
        @include flexcenter;
        width: 22px;
        height: 22px;
        font-size: 0.9rem;
        border-radius: 50%;
        color: white;
        background-color: $purple-color;
        position: absolute;
        transform: translateX(-39px);
      }

    }
    
  }
  
}
  
    
  
