/** Bannière de Localisation **/
.location {
  @include flexcenter;
  @include strongshadow;
  position: absolute;
  z-index: 1;
  gap: 19.2px;
  width: 100%;
  height: 50px;
  background-color: $lightgrey-color;

  i {
    color: $darkgrey-color;
  }

  & .paris {
  color: $darkgrey-color;
  font-weight: 500;
}
}

/** Présentation courte de la start up**/
.presentation {
  background-color: $cleargrey-color;
  padding-top: 50px;
  padding-bottom: 60.8px;
  text-align: center;
  
  &__one {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 28px;
    padding: 40px 45px 16px;
  }
  &__two {
    font-size: 1.125rem;
    font-weight: 300;
    color: $darkgrey-color;
    line-height: 28px;
    margin-bottom: 32px;
  }

  @media screen and (min-width: 768px) {
      padding-bottom: 32px;

      &__one {
      font-size: 2.5rem;
      padding: 40px 45px 35px;
      }

      &__two {
      margin-bottom: 24px;
      }
    }
  
}

/** Section Fonctionnement **/
.fct__title {
  padding: 52px 20px 28.8px;

  @media screen and (min-width: 768px) {
    margin-left: 17.3%;
  }  
}

.direction {
  @include vertical;
  
  .choice {
  @include align;
  
    &__order {
      @include flexcenter;
      margin-left: 20px;
      background: $purple-color;
      color: $white-color;
      width: 20.8px;
      height: 20.8px;
      border-radius: 9.6px;
      margin-right: -11.2px;
      z-index: 1;
      
      @media screen and (min-width: 768px) {
        width: 28.8px;
        height: 24px;
        border-radius: 11.2px;
      }
    }
    
    .btn {
      @include extendshadow;
      @include flex;
      gap: 24px;
      background: $cleargrey-color;
      color: $black-color;
      font-size: $base;
      font-weight: 500;
      width: 71%;
      padding: 27.2px;
      border-radius: 24px;
      cursor: pointer;

      @media screen and (min-width: 768px) {
        width: 100%;
      }
      
      i {
        color: $mediumgrey-color;
        transition: color 0.2s cubic-bezier(.4,.1,.6,.9);
      }

      &:hover i,
      &:active i {
        color: $purple-color; 
      }
    }
  }
}


 /** Paramètres section Restaurants**/

.bckg {
  background-color: $cleargrey-color;
  padding: 52px 20px 72px 20px;
  

  @media screen and (min-width: 768px) {
    padding: 30px 120px 30px 140px;
    
    .rst__title {
      margin-left: 11%;
    }
  }
}

