/** Taille Photo**/
.restos {
    @include photos;
    width: 100%;
    height: 275px;
    
    /** Media Queries**/
    @media screen and (min-width: 768px) {
      height: 383px;
    }
  }

/** Fond global **/
/** Superposition par rapport à l'image parce que le conteneur "bckg__restos" apparaît après l'image dans le code HTML, ce qui lui donne une position visuelle supérieure dans le flux du document, et aussi grâce à l'emploi de "position: relative;", même sans l'utilisation explicite de z-index. **/
.bckg__restos {
    @include flexcolumn;
    @include restos;
    position: relative;
    background-color: $cleargrey-color;
    border-radius: 30px 30px 0 0;  
}

/** Alignement titre et coeur **/
.align__title {
  @include display;
  margin-bottom: 20px;

 /** Media Queries**/
  @media screen and (min-width: 768px) {
    margin: auto;
    margin-bottom: 30px;
  }
}

/** Marge "bloc menu" et cta **/
.marge {
    margin-bottom: 40px;
}

/** Soulignage du titre h4 **/
.underline {
    background-color: $green-color;
    height: 3.008px;
    width: 40px;
    margin-top: 4.8px;
    margin-bottom: 14.4px;
}

/** Animation titre et blocs menus qui apparaissent les uns après les autres au chargement de la page grâce à une Keyframe **/
/** Titre **/
.box {
  animation: menu 1.5s 100ms both;
}
/** Entrées **/
.box__one {
  animation: menu 1.5s 150ms both; 
}
/** Plats **/
.box__two {
  animation: menu 1.5s 300ms both; 
}
/** Desserts **/
.box__three {
  animation: menu 1.5s 450ms both; 
}

/** Paramètres Vignettes plats **/
.vignette {
      @include symbol;
      @include extendshadow;
      background: $white-color;
      color: $black-color;
      width: 100%;
      border-radius: 16px;
      line-height: 25px;
      cursor: pointer;     
      
      &:not(:last-child) {
        margin-bottom: 12px;
      }

      /** On coupe le texte à l'aide de 3 petits points lorsque c'est nécessaire **/
       &__points {
        @include points;
        width: 290px;
        transition: all .3s ease-in-out;

        
        /** Paramètres de chaque ligne **/
        &--one {
          @include points;
          font-size: 1.125rem;
          font-weight: 500; 
          padding-top: 10px;
          padding-left: 15px;
          letter-spacing: -0.4px;
        }
  
        &--two {
          @include points;
          font-size: 0.94rem;
          font-weight: 300; 
          padding-left: 15px;
          padding-bottom: 10px;
          letter-spacing: -0.4px;    
        }
      }

      /** Paramètres du prix affiché **/
      &__price {
        font-size: 0.94rem;
        font-weight: 700;
        color: $darkgrey-color;
        margin-top: 35px;
        margin-left: auto;
        transition: transform .3s ease-in-out;
      }

      /** Paramètres de languette verte **/
      .vignette__bar {
        @include flexcenter;
        background-color: $green-color;
        width: 19%;
        margin-left: -50px;
        border-top-right-radius: 16px;
        border-bottom-right-radius: 16px;
        opacity: 0;
        transform: scaleX(0);
        transform-origin: right;
        transition: all .3s ease-in-out;
      
        /** Media Queries**/
        @media screen and (min-width: 768px) {
         width: 10%;
         margin-left: -35px;
        }
      
         /** Paramètres de la coche **/
         &__check {
          @include flexcenter;
          position: absolute;
          width: 20px;
          height: 20px;
          border-radius: 10px;
          background-color: $white-color;
        }
      
        /** couleur de la coche **/
        i {
          color: $green-color;
        }
      }

      /** Enchaînement d'animations de la droite vers la gauche: au clic ou au survol sur la vignette, la languette verte contenant la coche apparaît, poussant le prix et faisant disparaître la longueur des textes qui sont, eux, remplacés par les points de suspension **/

      &:active {
        & > .vignette__bar {
          transform: scaleX(1);
          opacity: 1; 
        }
        & > .vignette__price {
            transform: translateX(-65px);
        }
        & > .vignette__points {
          width: 190px;
        }
      }      

       /** Media Queries - Même chose au survol**/
       @media screen and (min-width: 768px) {
          &:hover {
            & > .vignette__bar {
                transform: scaleX(1);
                opacity: 1; 
            }
            & > .vignette__price {
                transform: translateX(-50px);
            }
            & > .vignette__points {
                width: 300px;
            }
          }      
        }
}



  
 

    

