/** Taille Photo**/
.restos {
    @include photos;
    width: 100%;
}

/** Fond global **/

.bckg__restos {
    @include flexcolumn;
    position: relative;
    background-color: $cleargrey-color;
    border-radius: 1.9rem 1.9rem 0 0;
    padding-top: 2rem;
    padding-left: 0.8rem;
    padding-right: 0.6rem;
    margin-top: -3rem;
}

/** Marge bloc menu et cta **/
.marge {
    margin-bottom: 2.5rem;
}
/** Alignement titre et coeur **/
.align__title {
    @include align;
    gap: 2.3rem;
    margin-bottom: 2.5rem;
}

/** soulignage du titre h4 **/
.underline {
    background-color:  $green-color;
    height: 0.188rem;
    width: 2.5rem;
    margin-top: 0.3rem;
    margin-bottom: 0.9rem;
}

/** Vignettes plats **/
.vignette {
    @include price;
    @include extendshadow;
      background: $white-color;
      color: $black-color;
      font-size: 1.125rem;
      font-weight: 500;
      width: 90%;
      padding: 0.5rem 1rem;
      border-radius: 1rem;
      line-height: 1.5rem;
      
      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }

      &__one {
        font-size: 1.125rem;
        font-weight: 500;
      }
      &__two {
        font-size: 0.94rem;
        font-weight: 300;
      }
      &__price {
        margin-top: 1.5rem;
        font-size: 0.94rem;
        font-weight: 700;
        color: $darkgrey-color;
      }
}