/** Keyframes LOADER **/
/** taille des ronds **/
@keyframes loader {
    100% { 
      transform: scale(2); 
    }
  }
/** apparence le temps de visibilité du loader **/ 
@keyframes visibilité {
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

/** Keyframe Titre et Blocs Menu  passant d'invisibles à visibles - Page restos **/
@keyframes menu {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}