.footer {
    background-color: $darkgrey-color;

    &__width {
        padding-top: 7%;
        padding-left: 7%;
        padding-bottom: 5%;
        width: 90%;
    }

    & .shrinkhand {
        font-family: $title-font;
        font-size: 1.125rem;
    }
    & .color {
        color: $white-color;
    }

    & .weight__one {
        font-weight: 500;
    }

    & .weight__two {
        font-weight: 400;
    }

    & .nav {
       @include footer__two;
       line-height: 1.7rem;
       margin-top: 1rem;     
    }

    .icon {
        @include space;
    }

}