/** ENTÊTES page accueil et restos**/
.header {
  @include flexcenter;
  position: relative;
  height: 63PX;
  
  .logo {
    width: 162px;
    height: 44px;
    margin-top: 13px;
  }

   /**** Media Queries ****/
   @media screen and (min-width: 768px) {
    .header {
      height: 96px;
    }

    .logo {
      width: 200px;
      height: 34px;
      margin-top: 0;
    }
  }
 
  &__accueil { 
    @include lightshadow;
    z-index: 2;
  }

  &__arrow {
    position: absolute;
    left: 0;
    padding: 17px 0 16px 17px;
  }
     
  i {
    color: $black-color;
  }

}

