/** LOGO page accueil**/
.header {
  @include flexcenter;
  @include lightshadow;
  position: relative;
  z-index: 2;
  height: 3.938rem;
 
  .logo {
    width: 10rem;
    height: 2.25rem;
    margin-top: 0.8rem;
  }
}

/** LOGO pages restos**/

.header__restos {
  @include arrow;
  height: 3.938rem;
 
  .logo {
    width: 10rem;
    height: 2.25rem;
    margin-top: 0.8rem;
  }
}