.footer {
    background-color: $darkgrey-color;

    &__width {
        padding-top: 7%;
        padding-left: 7%;
        padding-bottom: 5%;
        width: 90%;
        line-height: 27px;

        /** Media Queries **/
        @media screen and (min-width: 768px) {
            @include footer;
            padding-top: 5%;
            padding-left: 6%;
            padding-bottom: 2%;       
        }
    }
   /** Marge OhmyFood **/
    &__marge {
        margin-bottom: 16px;

        @media screen and (min-width: 768px) {
            margin-bottom: 0;
            margin-left: 100px;
        }
        .shrinkhand {
            font-family: $title-font;
            font-size: 1.125rem;
        }
    }
    /** couleur icônes **/
    i {
        color: $white-color;
    }
    /** espace entre icônes et caractères **/
    .icon {
        @include space;
    }

    /** Couleur générale des caractères **/
    & .color {
        color: $white-color;
    }

    /** Différentes graisses pour les 2 dernières rubriques **/
    & .weight__one {
        font-weight: 500;
    }

    & .weight__two {
        font-weight: 400;
    }
    
    /** Media Queries pour le sens et l'ordre des différents blocs **/
    @media screen and (min-width: 768px) {
        .footer__two {
        @include footer__two;
        margin-top: 5px;
        }
        .order__one {
            order: 1;
            gap: 17px;
            margin-left: 50px;
        }
        .order__two {
            order: 2;
            gap: 10px;
        }
    }
}